.paginate {
  display: flex;
  width: 190px;
  justify-content: space-between;
  margin-top: 40px;

  :global {
    li {
      border: 1px solid #f24701;
      border-radius: 50%;
      padding: 5px 12px;
      cursor: pointer;
      user-select: none;

      a {
        opacity: 0.9;
      }
    }

    .selected {

      background-color: #f24701;

    }

    li.selected a {
      color: #FFFFFF;
    }
  }

}